In [47]:
# Import pandas
import pandas as pd

In [48]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace=True)

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [49]:
df.head(3)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [50]:
# Compare the average income based on ethnicity
print('The average income of African American is', df[df.Ethnicity == 'African American']['Income'].mean())
print('The average income of Asian is', df[df.Ethnicity == 'Asian']['Income'].mean())
print('The average income of Caucasian is', df[df.Ethnicity == 'Caucasian']['Income'].mean())

The average income of African American is 47.68210101010099
The average income of Asian is 44.18783333333334
The average income of Caucasian is 44.521944723618084

In [52]:
# On average, do married or single people have a higher balance?
df[['Married', 'Balance']].groupby(['Married']).mean()

           Balance
Married
No       13.493509
Yes      13.388473

In [53]:
print('On average single people have a higher balance than married people')

On average single people have a higher balance than married people

In [54]:
# What is the highest income in our dataset?
print('The highest income in the dataset is', df.loc[:, 'Income'].max())

The highest income in the dataset is 186.634

In [55]:
# What is the lowest income in our dataset?
print('The lowest income in the dataset is', df.loc[:, 'Income'].min())

The lowest income in the dataset is 10.354

In [56]:
# How many cards do we have recorded in our dataset?
print('There are', df['Cards'].sum(), 'cards recorded in the dataset')

There are 1183 cards recorded in the dataset

In [57]:
# How many females do we have information for vs how many males? 
males = df[df['Gender'] == 'Male']['Gender'].count()
females = df[df['Gender'] == 'Female']['Gender'].count()

print(f'We have information for {males} males in the dataset')
print(f'We have information for {females} females in the dataset')

We have information for 193 males in the dataset
We have information for 207 females in the dataset